<script type="text/template" id="shopping-list">
    <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Purchased?</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-item"></tr>
            </tbody>
        </table>
</script>

<script type="text/template" id="item-tmpl">
    <td><%= name %></td>
    <td><%= quantity %></td>
    <td><%= purchased %></td>
</script>