<script type="text/template" id="shopping-list-form">
    <form class="form-inline">
        <div class="form-group">
            <label for="itemName">Item</label>
            <input type="text" class="form-control" id="itemName" placeholder="eggs">
        </div>
        <div class="form-group">
            <label for="itemQuantity">Quantity</label>
            <input type="text" class="form-control" id="itemQuantity" placeholder="12">
        </div>
        <button type="submit" class="btn btn-default" id="addItemBtn">Add</button>
    </form>
</script>

<script type="text/template" id="shopping-list">
    <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body">
            </tbody>
        </table>
</script>

<script type="text/template" id="item-tmpl">
    <td><input type="checkbox" class="item-purchase"></td>
    <td><%- name %></td>
    <td><%= quantity %></td>
    <td class="item-delete">X</td>
</script>
