{% extends 'mvcs/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Backbone</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mvcs/css/backbone_style.css' %}" />
{% endblock %}

{% block js %}
    {% include 'mvcs/assets/backbone.html' %}
{% endblock %}

{% block content %}
    <h1>Backbone Shopping List</h1>
    <div class="error-msg-container"></div>
    <div class="form-container"></div>
    <div class="table-container"></div>
    {% include 'mvcs/backbone_templates/backbone_templates.html' %}
{% endblock %}