{% extends 'mvcs/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Backbone</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mvcs/css/backbone_style.css' %}" />
{% endblock %}

{% block js %}
    {% include 'mvcs/assets/backbone.html' %}
{% endblock %}

{% block content %}
    <div class="row header">
        <div class="col-xs-12">
            <h1>Backbone Shopping List</h1>
        </div>
    </div>
    <div class="row errors">
        <div class="col-xs-12">
            <div class="error-msg-container"></div>
        </div>
    </div>
    <div class="row form">
        <div class="col-xs-12">
            <div class="form-container"></div>
        </div>
    </div>
    <div class="row table-list">
        <div class="col-xs-12">
            <div class="table-container table-responsive"></div>
        </div>
    </div>
    {% include 'mvcs/backbone_templates/backbone_templates.html' %}
{% endblock %}