{% extends 'mvcs/base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <h1>Frontend MVC Frameworks</h1>
    <p>I built this website to compare a few popular frontend MVC frameworks.</p>
    <p>Each one implements a grocery shopping list web app.</p>
    <p>Choose a framework to see the shopping list app in action:</p>
    <ul>
        <li><a href="/backbone">Backbone</a></li>
        <li>Angular</li>
        <li>React</li>
        <li>Ember</li>
    </ul>
    <h2>Comparison</h2>
{% endblock %}